<p-menubar styleClass="top-header">
  <ng-template #start>
    <div class="welcome-block">
      <div class="title">Good morning, Dr. Sarah</div>
      <div class="subtitle">Today is Thursday, April 2, 2026</div>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="user-block">
      <p-avatar icon="pi pi-user" shape="circle"></p-avatar>
      <div>
        <div class="user-name">Dr. Sarah Johnson</div>
        <div class="user-role">Doctor</div>
      </div>
      <i class="pi pi-angle-down"></i>
    </div>
  </ng-template>
</p-menubar>
